*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;

}h1{
    text-align: center;
    margin-top: -30px;
}form{
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    background-color:rgb(233, 231, 231);

  
}label{
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight: bold;
   

}
button:hover{
    background-color: rgb(179, 22, 108);
    color: white;
}